$maincolor: #60df0c;
$submaincolor: #57d106;
$lightedmaincolor: #d0ffb1;

@font-face{
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueRegular.otf');
  src: url('../fonts/BebasNeueRegular.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6{
  font-size: inherit;
  margin-bottom: 0;
  font-weight: inherit;
  line-height: inherit;
}

textarea{
  resize: none;
}

ul{
  list-style-type: none;
}

a{
  color: inherit;
}

label{
  margin: 0;
}

a:hover, a:focus, a:visited{
  color: inherit;
  text-decoration: none;
}
.page-background {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: black;
  display:none;
  left: 0;
  top: 0;
  z-index: 9997;
}
html{
  background: #ffffff;
}

dl, ol, ul{
  margin: 0;
}

ul{
  padding: 0;
}

html{
  overflow-x: hidden;
}

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4{
  width: 60px;
  height: 45px;
  display:none;
  position: absolute;
  right: 20px;
  z-index:9998;
  top: 10px;
  margin: 10px 10px auto auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1){
  top: 0px;
}

#nav-icon1 span:nth-child(2){
  top: 15px;
}

#nav-icon1 span:nth-child(3){
  top: 30px;
}

#nav-icon1.open span:nth-child(1){
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2){
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3){
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

body{
  overflow-x: hidden;
  line-height: 1em;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 19px;
  color: #252a25;
}

.hidden{
  display: none !important;
}

.page-wrapper{
  width: 1560px;
  margin: auto;
}

.header{
  position: relative;
  background-color: $maincolor;
  color: white;
  padding: 85px 40px 65px 40px;
}

.header__menu-outer{
  display: flex;
  justify-content: space-between;
}

.header__menu{
  display: flex;
  flex-basis: 42.6%;
}

.header__promo{
  flex-basis: 36%;
}

.header__social{
  margin-left: auto;
  flex-basis: 13%;
}

.header__menu__info{
  font-weight: 700;
  img{
    margin-top: -10px;
    width: 120%;
    margin-left: -35px;
  }
  flex-basis: 28%;
  margin: 0 85px 0 40px;
}

.current-page-menu{
  margin-left: 55px;
  color: $lightedmaincolor;
}

.header__menu-item{
  position: relative;
  transition: 0.2s;
  padding-right: 35px;
  a{
    cursor: pointer;
    &:hover{
      color: $lightedmaincolor;
      text-decoration: none;
    }
  }

}

.has-children{
  position: relative;
  &:hover{
    &::after{
      right: 10px;
      bottom: 6px;
      position: absolute;
      content: '...';
    }
    .header__submenu{
      color: #ffffff;

      li:hover{
        color: $lightedmaincolor;
      }
      display: inherit;
    }
  }
}
.displayblock {
  transition:0.3s;
  display:block!important;
}

.header__submenu{
  display: none;
  position: absolute;
  right: -85px;
  max-width: 160px;
  top: 0;
}

.header__menu__info__header{
  font-size: 60px;
  line-height: 1em;
  text-transform: none !important;
}

.header__menu__info__subheader{
  font-size: 21px;
  line-height: 1.2em;
  padding-top: 20px;
}

.header__menu__menu-wrapper{
  font-size: 21px;
  font-weight: 700;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  li:last-of-type{
    margin-bottom: -5px;
  }
}

.header__promo{
  font-size: 60px;
  line-height: 1.07em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a{
    &:hover{
      color: $lightedmaincolor;
    }
  }

}

.modal-content{
  position: relative;
  .close-icon-wrapper{
    margin: 10px 10px auto auto;
    font-size: 32px;
  }

}

.header__social{
  a{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    font-size: 42px;
    align-items: center;
    margin-right: 15px;
    transition: 0.3s;
    &:hover{
      color: $maincolor
    }
    &:last-child{
      margin-right: 40px;
    }
  }
  margin-top: 10px;
}

.facebook-color{
  background-color: #3a5897;
  transition: 0.2s;
  &:hover{
    color: $maincolor;
  }
}

.twitter-color{
  background-color: #54aced;
  transition: 0.2s;
  &:hover{
    color: $maincolor;
  }
}

.select-autotype-block{
  background-color: $submaincolor;
  color: #ffffff;
}

.select-autotype__wrapper{
  text-transform: uppercase;
  color: #ffffff;
  background-color: $submaincolor;
  display: flex;
}

.select-autotype__type{
  transition: 0.3s;
  flex-grow: 1;
  font-size: 21px;
  font-weight: 700;
  line-height: 33px;
  cursor: pointer;
  &:hover{
    background: $maincolor;
  }
  flex-basis: 0;
  text-align: left;
  padding: 100px 70px 45px 40px;
  img{
    width: auto;
    max-width: 40px;
    height: auto;
  }
}

.select-autotype__type__name{
  margin-top: 10px;
}

.autotype__type__selected{
  background: $maincolor;
  position: relative;
  transition: 0.2s;
  &::before{
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 11px;
    background: #ffffff;
    transition: 0.2s;
  }
}

.auto-get-price{
  padding-bottom: 65px;
  background: url(../images/stripe.png);
  background-repeat: repeat;
  .page-wrapper{
    background: #ffffff;
  }
}

.auto-get-price__wrapper{
  padding: 80px 0 100px;
  font-size:25px;
}

.auto-get-price__wrapper{
  display: flex;
  & > *{
    &:first-child{
      border-right: 2px solid $maincolor;
    }
  }
  input, select{
    border-left: 5px solid #d8d7d7;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: #f2f2f2;
    padding: 14px 34px 14px 18px;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 24.6px;
    color: rgba(37, 42, 37, 0.3);
    text-transform: none;
    line-height: 1.2em;
    &:focus{
      outline: none;
      border-color: $maincolor;
      color: rgba(37, 42, 37, 1)
    }
    &::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
      color: rgba(37, 42, 37, 0.3)
    }
    &:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
      color: rgba(37, 42, 37, 0.3)
    }
    &::-moz-placeholder{ /* Mozilla Firefox 19+ */
      color: rgba(37, 42, 37, 0.3)
    }
    &:-ms-input-placeholder{ /* Internet Explorer 10-11 */
      color: rgba(37, 42, 37, 0.3)
    }
    &::-ms-input-placeholder{ /* Microsoft Edge */
      color: rgba(37, 42, 37, 0.3)
    }

    &::placeholder{ /* Most modern browsers support this now. */
      color: rgba(37, 42, 37, 0.3)
    }
  }
  select{
    text-indent: 0.01px;
    text-overflow: '';
    -moz-appearance: none;
    -moz-user-select: none;
    -webkit-appearance: button;
    -webkit-user-select: none;
    background-image: url(../images/select-button.svg);
    background-position: 93% center;
    background-repeat: no-repeat;
    &:focus{
      background-image: url(../images/select-button-selected.svg);
    }
  }
}

.delivery-method__radio{
  border: none !important;
}

.auto-get-price__values-block{
  flex-basis: 51%;
  padding: 0 90px 0 35px;
  border-right: 2px solid $maincolor;
}

.auto-get-price__delivery-block{
  flex-basis: 49%;
  padding-left: 95px;
}

.get-price__item__header{
  font-size: 36px;
  line-height: 1.5em;
  color: #252a25;
}

.auto-get-price__values-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & > *{
    flex-basis: 45%;

  }
}

.auto-get-price__delivery-method{
  margin-top: -20px;
}

.auto-get-price__values__item{
  margin-top: -20px;
  &:nth-child(n+3){
    margin-top: 15px;
  }
  display: flex;
  flex-direction: column;
  input{
    width: 100%;
  }
}

.get-auto__input-text{
  letter-spacing: 0.5px;
  padding: 0 35px 0 10px;
}

.delivery-method__radio{
  width: 22px;
  height: 22px;
  margin-top: 5px;
  position: relative;
  margin-bottom: 5px;
  &:checked::after{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    top: 5px;
    display:none;
    left: 5px;
    position: absolute;
    background-color: $maincolor;
    content: '';
    visibility: visible;
    border: 1px solid $submaincolor;
  }
}

.auto-get-price__delivery-address{
  width: 80%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.auto-get-price__delivery-time{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.delivery-choice-wrapper{
  display: flex;
}

.auto-get-price__delivery-time__checkbox-wrapper{
  flex-basis:50%;
  label{
    padding-left: 0;
  }
  input[type="checkbox"]{
    display: none;
  }
  input[type="checkbox"] + label span{
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0 15px 5px 0;
    vertical-align: middle;
    background: #f2f2f2;
    cursor: pointer;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
  }

  input[type="checkbox"]:checked + label span{
    background: #f2f2f2 url(../images/checkbox-checked.png) 50% 75% no-repeat;
    top: 5px;
  }
}

.get-auto__input-text q{
  color: #3a5897;
  &::before, &::after{
    display: none !important;
  }
}

.auto-get-price__final-block{
  input{
    cursor: pointer;
    margin: 15px 140px 10px auto;
    border: 5px solid $maincolor;
    padding: 25px 50px;
    background: #ffffff;
    color: $maincolor;
    font-weight: 700;
    transition: 0.3s;
    &:hover{
      background: $maincolor;
      color:#ffffff;
    }
  }
  margin-top: 15px;
  margin-bottom: -15px;
  display: flex;
}

.emerg-delivery-margin{
  margin-top: 30px;
}

.auto-get-price__final-block__price-header{
  color: $maincolor;
  font-size: 55px;
  font-family: "Bebas Neue", sans-serif;
  line-height: 43px;
  margin-top: 12px;
}

.mobile-autotype{
  display: none;
}

.main-promo-block{
  max-width: 1920px;
  justify-content: center;
  margin:auto;
  display: flex;
  background: #ffffff;
  width: 95%;
}

.main-promo-block__img-container{
  width: 900px;
  img{
    margin-top: -140px;
    width: auto;
    height: auto;
  }
}

.main-promo__text{
  width: 770px;
  padding-top: 55px;
  padding-bottom: 120px;
  font-size: 24px;
  line-height: 1.2em;
}

.main-get__top-block{
  padding-top: 60px;
  .page-wrapper{
    background: transparent;
  }
}

.where-to-buy__text-block{
  padding: 40px 50px 50px 45px;
  background: #ffffff;
  line-height: 1.25em;

}

.insert-image{
  position: relative;
  img{
    position: absolute;
    left: 100px;
    top: -100px;
  }
}

.main-get-block-inner{
  display: flex;
}

.no-arrow-block{
  background: #ffffff;
  position: relative;
  border: 5px solid #d8d7d7;
  margin-top: 50px;
  z-index: 5;
  flex-basis: 65%;
  &::after{
    content: url(../images/noarrow.png);
    position: absolute;
    right: -77%;
    top: -96%;
  }
}

.main-get-block{
  background: url(../images/stripe.png);
  background-repeat: repeat;
}

.main-get__header{
  font-size: 60px;
  line-height: 1em;
  letter-spacing: 0.025em;
  & > img{
    margin-top: -10px;
    margin-right: 10px;
  }
}

.top-arrow-box{
  .main-get__header > img{
    width: 66px;
    height: auto;
  }
}

.left-arrow-box{
  .main-get__header > img{
    height: 43px;
    width: auto;
  }
}

.color-green{
  color: $maincolor;
}

.main-get__where-to-buy{
  padding-bottom: 95px;
  .page-wrapper{
    display: flex;
  }
}

.top-arrow-box{
  flex-direction: column;
  flex-basis: 48%;
  margin-top: 40px;
  position: relative;
  background: #ffffff;
  border: 5px solid #d8d7d7;
}

.top-arrow-box:after, .top-arrow-box:before{
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.top-arrow-box:after{
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 15px;
  margin-left: -15px;
}

.top-arrow-box:before{
  border-color: rgba(216, 215, 215, 0);
  border-bottom-color: #d8d7d7;
  border-width: 22px;
  margin-left: -22px;
}

.text-header-padding-top{
  padding-top: 65px;
  padding-left: 45px;
}

.left-arrow-box{
  flex-basis: 49%;
  margin-top: 40px;
  flex-direction: column;
  margin-left: 50px;
  position: relative;
  background: #ffffff;
  border: 5px solid #d8d7d7;
}

.left-arrow-box:after, .left-arrow-box:before{
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.left-arrow-box:after{
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 15px;
  margin-top: -15px;
}

.left-arrow-box:before{
  border-color: rgba(216, 215, 215, 0);
  border-right-color: #d8d7d7;
  border-width: 22px;
  margin-top: -22px;
}

.main-countries-block{
  background: #717171 url(../images/stripe-dark.png);
  color: white;
}

.main-countries__text{
  font-size: 24px;
  line-height: 1.25em;
  padding: 55px 65px 145px 45px;
}

.main-countries__list{
  display: flex;
  justify-content: center;
}

.countries-list{
  height: 150px;
  background: linear-gradient(180deg, transparent 50%, #4d4d4d 50%);
  margin-top: -75px;
}

.countries-list__country{
  color: #ffffff;
}
.modal {
  z-index:9999 !important;
}
.countries-list__wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  & > *{
    margin-right: 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #f2f2f2;
    flex-basis: 23%;
    cursor: pointer;
    &:hover{
      .countries-list__country-text{
        transition: 0.3s;
        background: rgba(55, 55, 55, 0.9)
      }
    }
  }
}

.belarus-map{
  background: url(../images/belarus-map.jpg) no-repeat;
  background-size:cover;
}

.ukraine-map{
  background: url(../images/ukraine-map.jpg) no-repeat;
  background-size:cover;
}

.europe-map{
  background: url(../images/europe-map.jpg) no-repeat;
  background-size:cover;
}

.countries-list__country-text{
  display: block;
  transition: 0.3s;
  border-radius: inherit;
  margin-top: 75px;
  padding: 27px 0;
  font-size: 28px;
  letter-spacing: 0.05em;
  font-family: "Bebas Neue", sans-serif;
  background: rgba(77, 77, 77, 0.9);
  color: white;
}

.footer{
  padding-bottom: 85px;
  color: #ffffff;
  background-color: #4d4d4d;
  .footer__wrapper{
    display: flex;
  }
  .page-wrapper > img{
    margin: 100px 0 15px 0;
  }
}

.footer__menu{
  align-items: flex-start;
  display: flex;
  flex-basis: 52%;
}

.footer__contacts{
  flex-basis: 27%;
  a{
    display: block;
    transition: 0.3s;
    margin-bottom: 15px;
    &:hover{
      color: $lightedmaincolor;
      .fa-phone{
        background-color: $lightedmaincolor;
      }
    }
  }
  i{
    margin-right: 5px;
  }
  .fa-phone{
    color: #4d4d4d;
    background: #fff;
    border-radius: 5px;
    padding: 1px 2px;
  }
}

.footer__rest-info{
  flex-basis: 18%;
  font-weight: 700;
}

.footer__copyright{
  margin: 30px 0 0 0;
}

.footer__menu__info{
  font-weight: 700;
  flex-basis: 27%;
  margin: 0 85px 0 0;
}

.footer__contacts__inn{
  margin-top: 45px;
  line-height: 1.5em;
}

.footer__rest-info__social{
  margin-top: -10px;
  & > a{
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border-radius: 50%;
    margin: 0 5px;
  }
}

.footer__rest-info__payment{
  margin-top: 75px;
}

.visa-m-left{
  margin-left: 33px;
  margin-right: 3px;
}

.footer__rest-info__developing{
  margin-top: 10px;
}

.goodrank-icon-link{
  transition: 0.3s;
  fill: #ffffff;
  &:hover{
    fill: $lightedmaincolor;
  }
  svg{
    position: relative;
    top: 13px;
  }
}

.breadcrumbs{
  line-height: 1.5em;
  background-color: $submaincolor;
  color: #ffffff;
  padding: 20px 0;
}

.company-about{
  background: url(../images/stripe.png);
  font-size: 24px;
  line-height: 1.25em;
  .page-wrapper{
    padding-bottom: 70px;
  }
}

.company-about__inner{
  padding: 70px 70px 130px;
  background: #FFFFFF;
}

.breadcrumbs__inner{
  color: #ffffff;
  span {
    padding:0 5px;
    &:first-child {
      padding-left:0;
    }
  }
}

.breadcrumbs__first-menu{
  color: $lightedmaincolor;
}

.breadcrumbs-inner{
  padding-left: 70px;
}

.company-about__advantages{
  justify-content: space-between;
  h3{
    margin-top: 0;
  }
  display: flex;
  img{
    margin: 70px;
    //min-width:190px;
    height: auto;
  }
}

.advantage__text{
  font-size: 19px;
  margin: 20px;
  //text-align: center;
}

.company-information__inner{
  line-height: 1.25em;
  padding: 70px;
  font-size: 24px;
  ul{
    padding-left: 40px;
    margin: 50px 0 60px;
    li{
      margin-bottom: 5px;
      position: relative;
      &::before{
        width: 6px;
        height: 7px;
        border-radius: 50%;
        background-color: #000000;
        content: '';
        position: absolute;
        left: -20px;
        top: calc(50% - 3px);
      }
    }
  }
}

.information__links{
  display: flex;
  justify-content: center;
  margin: 45px 0 55px 0;
  color: $maincolor;
}

.information__link{
  margin-right: 30px;
  display: inline-block;
  padding: 25px 20px;
  border: 5px solid $maincolor;
  color: $maincolor;
  text-align: center;
  transition: 0.3s;
  &:hover{
    background-color: $maincolor;
    color: #FFFFFF;
  }
}

.notfound-subheader{
  margin-bottom: 70px;
  line-height: 1em;
  font-size: 122px;
  margin-top: 50px;
  letter-spacing: 0.025em;
}

.company-about__advantage{
  flex-basis: 23%;
}

.about-header{
  font-size: 50px;
  line-height: 1em;
  margin-bottom: 40px;
  margin-top: 0;
}

.company-blog__block-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.company-blog__inner{
  padding: 70px;
}

.company-blog__block{
  margin-bottom: 60px;
  flex-basis: 30%;
  background-color: #f5f5f5;
}

.blog__img-wrapper{
  img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.blog__text-wrapper{
  padding: 60px 60px 50px;
}

.blog__date, .blog__header{
  font-size: 21px;
  line-height: 1.5em;
}

.blog__text{
  line-height: 1.25em;
  margin: 20px 0 50px;
}

.blog__link{
  &:hover {
    color: $maincolor;
  }
  font-size: 21px;
  i{
    display: inline-block;
    margin-left: 15px;
  }
}

.loadmore{
  color: $maincolor;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  .information__link{
    padding: 25px 35px;
  }
}

.article-text{
  font-size: 24px;
  line-height: 1.25em;
  img{
    max-width: 100%;
    height: auto;
  }
}

.scrollup{
  z-index:9999;
  transition:0.3s;
  position: fixed;
  bottom: 80px;
  right: 60px;
  width: 65px;
  height: 65px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #4d4d4d;
  color: #ffffff;
  border-radius: 50%;
  font-size: 35px;
  cursor: pointer;
  &:hover{
    background-color: #7e7e7e;
  }
}
.flex {
  display:flex !important;
}

.article-blog{
  background: url(../images/stripe.png);
  background-repeat: repeat;
  position: relative;
  .page-wrapper{
    background: #ffffff;
  }
}

.notfound-img-wrapper{
  img{
    margin: 100px auto 50px auto;
    width: 70%;
    display: block;
    height: auto;
    object-fit: contain;
  }
  font-size:516px;
  line-height:0.8em;
}

.notfoundreturn{
  color: $maincolor;
  background-color: #ffffff;
  display: table;
  margin: 0 auto;
}

.notfound{
  background: url(../images/stripe.png);
  background-repeat: repeat;
}

.contacts-block__prev{
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  & > *{
    flex-basis: 18%;
    margin: 0 50px;
    img{
      margin: 0 35px 50px 35px
    }
  }
}

.contacts__item__header{
  margin-bottom: 20px;
}

.background-stripped{
  .page-wrapper{
    background: #ffffff;
  }
  background: url(../images/stripe.png);
  background-repeat: repeat;
}

.contacts-block{
  padding-bottom: 75px;
  .page-wrapper{
    background: #ffffff;
  }
}

.get-consult__inner{
  margin: 70px 0 60px;
}

.get-consult__form{
  margin: -10px 100px 0 50px;
  label{
    font-size: 36px;
    margin-top: 10px;
    line-height: 1.5em;
  }
  input, textarea{
    &::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
      color: rgba(37, 42, 37, 0.3)
    }
    &:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
      color: rgba(37, 42, 37, 0.3)
    }
    &::-moz-placeholder{ /* Mozilla Firefox 19+ */
      color: rgba(37, 42, 37, 0.3)
    }
    &:-ms-input-placeholder{ /* Internet Explorer 10-11 */
      color: rgba(37, 42, 37, 0.3)
    }
    &::-ms-input-placeholder{ /* Microsoft Edge */
      color: rgba(37, 42, 37, 0.3)
    }

    &::placeholder{ /* Most modern browsers support this now. */
      color: rgba(37, 42, 37, 0.3)
    }
    line-height: 1.5em;
    font-size: 25px;
    border-left: 5px solid #d8d7d7;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    color: rgba(37, 42, 37, 0.3);
    outline: none;
    padding: 15px 20px;
    font-family: "Arial Narrow", sans-serif;
    background-color: #f2f2f2;
    &:focus{
      outline: none;
      border-color: #60df0c;
      color: #252a25;
    }
  }
}

.get-consult__form__values{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.get-consult__form__item{
  flex-basis: 28%;
  display: flex;
  flex-direction: column;
}

#submitconsult{
  border: 5px solid $maincolor;
  background: #ffffff;
  color: $maincolor;
  padding: 20px 50px;
  transition: 0.3s;
  cursor: pointer;
  display: table;
  margin: 60px auto 0;
  &:hover{
    background: $maincolor;
    color: #ffffff;
  }
}

#map{
  height: 450px;
}

@media (min-width: 769px) {
  .close-icon-wrapper{
    display: none;
  }
  .modal-dialog{
    position: inherit;
    width: auto;
    margin: 0;
  }
  .modal{
    position: inherit;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 0;
    display: initial;
    overflow: initial;
    outline: none;
  }
  .fade{
    opacity: 1;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .modal.fade .modal-dialog{
    -webkit-transition: none;
    transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
    outline: 0;
    border: 0;
  }
  .modal-dialog{
    max-width: none;
    margin: 0;
  }
  .modal-dialog{
    position: inherit;
    width: auto;
    margin: 0;
  }
  .modal-content{
    position: inherit;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    outline: 0;
  }
  .auto-get-price__final-block{
    .btn-secondary{
      display: none;
    }
  }
}

.breadcrumbs-header{
  font-weight: bold;
}

.contacts-block__inner{
  padding: 70px;
}

.fs24-125{
  font-size: 24px;
  line-height: 1.25em;
}

.order-info__items{
  flex-wrap:wrap;
  display: flex;
  padding-bottom:40px;
  justify-content: center;
  & > *{
    margin: 0 15px;
    flex-basis: 22%;
  }
}

.order-info__item{
  img{
    width: 59%;
    display: table-cell;
    margin: 20px auto;
  }
}

.order-info__item__header{
  margin: 30px 0;
}

.order-info__text-block{
  & > *{
    &:first-child{
      letter-spacing:0.01em;
      margin-top: 40px;
    }
  }
}

.order-info__text{
  p{
    text-indent: 35px;
    &:not(:first-of-type) {
      margin-top: 30px;
    }
  }

}
.faq__item__header {
  padding:30px;
  margin-bottom:15px;
}
.faq__item__list li {
  display:none;
  a {
    text-decoration: underline;
  }
  &>a {
    display:inline-block;
    margin-bottom:10px;
  }
  .collapse {
    text-indent:0;
    line-height:1.5em;
  }
}
.faq-loadmore {
  border-bottom: 1px solid #3a5897;
  color: #3a5897 !important;
  margin-bottom:60px;
  display:inline-block;
}
.faq__item {
  &:last-child {
   margin-bottom:-60px;
  }
}
.faq__item__list {
  margin:0 0 1.5em 1em;
  padding:0;
  counter-reset:item;
}

.faq__item__list>li {
  text-indent:0;
  margin:0;
  position:relative;
  padding:25px 0 0 0;
  line-height:1.5em;
  list-style-type:none;
  counter-increment:item;
  a {
    text-indent:0;
  }
}
.p-bottom-0-imp {
  padding-bottom:0 !important;
}
.faq__item__list>li:before {
  position:absolute;
  left:-30px;
  display:inline-block;
  width:1em;
  font-size:26px;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}
.countries-listsection__list {
  font-size:24px;
  line-height:1.25em;
  padding:0 30px;
  display:flex;
  &>* {
    flex-basis:17%;
    &:not(:last-child) {
      margin-right:20px;
    }
  }
}
.block-of-4 {
  display:flex;
  align-items:flex-start;
  a {
    display:inline-block;
    margin:20px 0;
    &:hover {
      span {
        display:inline-block;
        box-shadow: 0 1px 0 #252a25;
      }
    }
  }
  flex-direction: column;
}
.table__inner {
  overflow-x:auto;
  color: #767575;
  font-size:21px;
  &>* {
    overflow-x:auto;
    border-bottom:1px solid #dbdbdb;
    display:flex;
    &>* {
      flex-basis:12.5%;
      text-align:center;
      padding:10px 25px;
    }
  }
}
.table__inner__headers {
  color: #4d4d4d;
  background: url(../images/stripe.png);
  background-repeat: repeat;
}
.table__wrapper {
  //*{
  //  overflow:scroll;
  //}
  overflow-x:auto;
  max-width:1368px;
  margin:50px 25px;
  border-right:1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
}
.table__header {
  background-color:#4d4d4d;
  color:#ffffff;
  font-size:21px;
  padding:20px;
}
.partners__list-wrapper {
  display:flex;
  ol {
    display:flex;
    flex-basis:35%;
    flex-wrap:wrap;
    justify-content: space-between;
    &>* {
      margin-bottom:10px;
      flex-basis:40%;
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
.partners__additional-info {
  flex-basis:65%;
}

.price__button-links {
  display:flex;
  justify-content: space-between;
  color: $maincolor;
  margin:75px 20px 0;
}
.button-price-link {
  display:inline-block;
  padding:25px;
  border:5px solid $maincolor;
  color: $maincolor;
  background-color: #ffffff;
  transition:0.3s;
  &:hover {
    background-color:$maincolor;
    color: #ffffff;
    transition:0.3s;
  }
}
.prices-ul-fix {
  margin-bottom:50px;
  a {
    height:100%;
    display:block;
    padding: 100px 70px 45px 40px;
  }
  li {
    padding:0;
  }
  li::before {
    display:none !important;
  }
}
.footer__logo-wrapper > img {
  margin-top: -10px;
  width: 230px;
  margin-left: -35px;
}
@media(max-width: 1600px) {
  .scrollup{
    bottom: 10px;
    right: 10px;
  }
  .auto-get-price__delivery-block{
    padding-left: 30px;
  }
  .auto-get-price__delivery-address{
    width: 90%;
  }
  .page-wrapper{
    width: 90%;
    margin: auto;
  }
  .auto-get-price__final-block input{
    margin: 15px 120px 10px auto;
  }
  .no-arrow-block::after{
    right: auto;
    left: 93%;
    top: -70%;
  }
  .get-price__item__header{
    font-size: 30px;
  }
  .auto-get-price__values-block{
    padding: 0 30px;
  }
  .header__promo{
    font-size: 50px;
    justify-content: space-around;
  }
  .header__social{
    flex-basis: 15%;
    a:last-child{
      margin-right: 0;
    }
  }
  .select-autotype__type{
    padding: 50px 50px 20px 40px;
  }
  .prices-ul-fix {
    .select-autotype__type {
      padding:0;
      a {
        padding: 50px 50px 20px 40px;
      }
    }
  }
  .header{
    padding: 40px 0;
  }
  .auto-get-price__wrapper{
    padding: 40px 0 60px;
  }
  .main-promo__text{
    padding-bottom: 40px;
  }
  .main-get__top-block{
    padding-top: 30px;
  }
  .where-to-buy__text-block{
    padding: 30px;
  }
  .main-get__where-to-buy{
    padding-bottom: 45px;
  }
  .footer .page-wrapper > img{
    margin: 40px 0 15px 0;
  }
  .footer__rest-info{
    flex-basis: 24%;
  }
  .footer__contacts{
    flex-basis: 24%;
  }
  .footer__wrapper{
    justify-content: space-between;
  }
  .footer{
    padding-bottom: 40px;
  }
  .main-countries__text{
  }
  .header__menu{
    flex-basis: 50%;
  }
  .main-get__header{
    font-size: 44px;
  }
}

@media(max-width: 1368px) {
  .notfound-img-wrapper {
    font-size:420px;
  }
  .has-children:hover {
    .header__submenu {
      background: #999999;
      opacity: 1;
    }
  }
  .footer__logo-wrapper > img {
    display:none;
  }
  .partners__list-wrapper ol > * {
    flex-basis:100%;
  }
  .table__header, .table__inner {
    width:1368px;
    overflow:scroll;
  }
  .countries-listsection__list {
    flex-wrap:wrap;
  }
  .countries-listsection__list > *:not(:last-child) {
    margin-right:0;
  }
  .block-of-4 {
    flex-direction:row;
    font-size:18px;
    flex-basis:100%;
    margin-right:0;
    display:flex;
    & >* {
      flex-basis:25%;
    }
    & a {
      margin-right:10px;
    }
  }
  .order-info__items {
    padding-bottom:10px;
  }
  .faq__item {
    margin:0 20px;
  }
  #map{
    height: 350px;
  }
  .about-header{
    font-size: 42px;
    line-height:1em;
  }
  .contacts-block{
    padding-bottom: 35px;
  }
  .get-consult__form{
    margin: 0 0 30px 0;
  }
  .contacts-block__prev > *{
    margin: 0;
    flex-basis: 23%;
  }
  .get-consult__form__item{
    flex-basis: 31%;
  }
  .textarea{
    flex-basis: 100%;
  }
  .breadcrumbs-inner{
    padding-left: 20px;
  }
  .company-information__inner ul{
    margin: 20px 0 30px;
  }
  .information__links{
    margin: 30px 0;
  }
  .blog__text-wrapper{
    padding: 20px;
  }
  .blog__text{
    margin: 20px 0;
  }
  .company-about__inner, .company-information__inner, .company-blog__inner{
    padding: 40px 20px;
  }
  .company-about__advantage{
    img{
      width: 100px;
      height: auto;
      margin: 40px auto;
      display: block;
    }
  }
  .auto-get-price__values-block{
    display: block;
    flex-wrap: nowrap;
    justify-content: inherit;
  }
  .main-promo-block__img-container img{
    margin-top: -17%;
    width: 100%;
    height: auto;
  }
  .no-arrow-block::after{
    top: -55%;
  }
  .main-promo-block__img-container{
    width: 100%;
  }
  .main-promo-block{
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .main-promo__text{
    padding-top: 0;
    width: 100%;
  }
  .select-autotype__type{
    padding: 30px 20px;
  }
  .prices-ul-fix {
    .select-autotype__type {
      padding:0;
      a {
        padding:30px 20px;
      }
    }
  }
  .auto-get-price__values__item{
    flex-basis: 100%;
  }
  .destination-value{
    margin-bottom: 20px;
  }
  .auto-get-price__values__item:nth-child(n+3){
    margin-top: 0;
  }
  .auto-get-price__final-block input{
    margin: 20px auto auto 0;
    border-width: 2px;
  }
  .auto-get-price__final-block{
    flex-direction: column;
  }
  .auto-get-price__wrapper input, .auto-get-price__wrapper select{
    padding: 10px 20px;
  }
  .auto-get-price__delivery-address{
    width: 95%;
  }
  .auto-get-price__wrapper input, .auto-get-price__wrapper select{
    font-size: 19px;
  }
  .text-header-padding-top{
    padding-top: 30px;
  }
  .delivery-choice-wrapper{
    flex-direction: column;
  }
  .auto-get-price__final-block input{
    padding: 10px 50px;
  }
  .main-countries__text{
    padding: 55px 0 145px 0;
  }
  .header__promo{
    font-size: 36px;
  }
  .header__social a{
    width: 40px;
    height: 40px;
    font-size: 24px;
  }
  .header__menu__info__header{
    font-size: 36px;
  }
  .header__submenu{
    display: none;
    position: absolute;
    left: 0;
    opacity: 0.9;
    top: 100%;
    padding: 10px 20px;
    width: 100%;
  }
  .has-children:hover::after{
    display: none;
  }
  .header__social{
    flex-basis: auto;
  }
  .header__promo{
    justify-content: center;
  }
  .header__menu__menu-wrapper{
    order: 1;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .header__menu__info{
    order: 2;
  }
  .header__menu{
    flex-basis: 100%;
    flex-wrap: wrap;
  }
  .header__menu-outer{
    flex-wrap: wrap;
  }
  .header__menu__info{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 30px 0 15px 0;
    & > *{
      margin-top: 0;
      padding-top: 0;
    }
  }
  .header__menu__info__header{
    flex-basis: 80%;
  }
  .header__promo{
    flex-basis: 80%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .header__social{
    justify-content: center;
    margin: auto;
  }
  .header__menu__info img{
    margin-bottom: 0;
    margin-right: 10px;
    width:auto;
  }
  .current-page-menu{
    margin-left: 0;
    color: #3c763d;
  }
  .footer .page-wrapper > img{
    display: none;
  }
  .footer__wrapper{
    flex-wrap: wrap;
  }
  .footer__menu{
    flex-basis: 100%;
    flex-wrap: wrap;
  }
  .footer__menu__info{
    display: none;
  }
  .footer{
    .current-page-menu{
      color: #999999;
    }
  }
  .main-countries__text{
    padding-bottom: 100px;
  }
  .countries-list__wrapper{
    justify-content: space-around;
  }
  .footer__wrapper{
    padding-top: 30px;
  }
  .countries-list{
    height: 100px;
  }
  .countries-list__country-text{
    margin-top: 25px;
  }
  .footer__contacts__inn{
    margin-top: 0;
  }
  .footer__rest-info__payment{
    margin-top: 30px;
  }
  .footer__menu{
    margin-bottom: 40px;
  }
  .footer__rest-info, .footer__contacts{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 1024px) {
  .notfound-img-wrapper {
    font-size:320px;
  }
  .button-price-link {
    padding:10px 15px;
    border-width:2px;
  }
  .table__header, .table__inner {
    width:1324px;
    font-size:18px;
  }
  .order-info__items {
    padding-bottom:0;
  }
  .faq__item__header {
    padding:20px;
  }
  .faq__item__list > li:before {
    font-size:20px;
  }
  .fs24-125 {
    font-size:20px;
  }
  .get-consult__form__item{
    flex-basis: 100%;
  }
  .get-consult__form label{
    margin-top: 0;
    font-size: 24px;
  }
  .get-consult__form input, .get-consult__form textarea{
    padding: 5px;
    line-height: 1.2em;
  }
  #submitconsult{
    padding: 10px 40px;
    border-width: 3px;
    margin: 30px auto 0;
  }
  .get-consult__inner{
    margin: 0 0 20px;
  }
  .scrollup{
    width: 30px;
    border-radius: 2px;
    right: 0;
    font-size: 24px;
  }
  .company-blog__block{
    margin-bottom: 30px;
  }
  .company-blog__block{
    flex-basis: 45%;
  }
  .company-about__inner
  .company-about__advantage img{
    margin: 20px auto;
  }
  .company-about__advantages{
    flex-wrap: wrap;
  }
  .company-about__advantage{
    flex-basis: 50%;
  }
  .auto-get-price__values-block{
    border-right: 0;
  }
  .top-arrow-box, .left-arrow-box{
    display: block;
  }
  .main-get__header{
    text-align: center;
    font-size: 32px;
  }
  .text-header-padding-top{
    padding-top: 10px;
  }
  .no-arrow-block::after{
    display: none;
  }
  .where-to-buy__text-block{
    flex-basis: 100%;
  }
  .main-get__where-to-buy .page-wrapper{
    display: block;
  }
  .left-arrow-box{
    flex-direction: column;
    margin-top: 40px;
    position: relative;
    margin-left: 0;
    background: #ffffff;
    border: 5px solid #d8d7d7;
  }

  .left-arrow-box:after, .left-arrow-box:before{
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    pointer-events: none;
  }

  .left-arrow-box:after{
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 15px;
    margin-left: -15px;
    margin-top: -30px;
  }

  .left-arrow-box:before{
    border-color: rgba(216, 215, 215, 0);
    border-bottom-color: #d8d7d7;
    border-width: 22px;
    margin-left: -22px;
    margin-top: -44px;
  }
  .where-to-buy__text-block{
    padding-top: 10px;
  }
  .main-countries__text{
    font-size: 18px;
  }
  .main-countries__text{
    padding: 25px 0 100px 0;
  }
  .auto-get-price__wrapper{
    display: block;
  }
  .get-price__item__header{
    font-size: 24px;
  }
  .auto-get-price__delivery-block{
    padding: 0 30px;
    margin-top: 20px;
  }
  .select-autotype__type__name{
    font-size: 16px;
  }
  .header__promo{
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .notfound-img-wrapper {
    font-size:240px;
  }
  .has-children:hover {
    .header__submenu {
      background: none;
      opacity: 1;
    }
  }

  .partners__list-wrapper {
    flex-wrap:wrap;
  }
  .partners__list-wrapper ol {
    flex-basis:100%;
  }
  .partners__list-wrapper ol > * {
    flex-basis:40%;
  }
  .partners__additional-info {
    flex-basis:100%;
  }

  .table__wrapper {
    margin:5px;
  }
  .block-of-4 {
    justify-content: space-around;
    flex-wrap:wrap;
  }
  .block-of-4 a {

    margin:5px 0;
    text-align: center;
  }
  .block-of-4 > * {
    flex-basis:40%;
  }
  .faq__item__header {
    padding:15px;
  }
  .faq__item__list > li {
    padding:10px 0 0 0;
  }
  .faq__item:last-child {
    margin-bottom:0;
  }
  .faq__item__header {
    margin-bottom:5px;
  }
  .faq-loadmore {
    margin-bottom:20px;
  }
  .order-info__text-block > *:first-child {
    margin-top:40px;
  }
  .contacts-block__prev{
    flex-wrap: wrap;
  }
  .contacts-block__prev > *{
    flex-basis: 45%;
    margin-bottom: 10px;
    img{
      width: 60px;
      height: 60px;
      display: table-cell;
      margin: 20px auto;
    }
  }
  #map{
    height: 300px;
  }
  .notfound-img-wrapper img{
    margin: 50px auto 30px auto;
  }
  .notfound-subheader{
    font-size: 68px;
    margin-bottom: 40px;
    margin-top: 30px;
  }
  .article-text{
    font-size: 17px;
  }
  .about-header{
    margin-bottom: 15px;
  }
  .company-blog__block{
    flex-basis: 100%;
  }
  .about-header{
    font-size: 32px;
  }
  .company-about, .company-information__inner, .company-about__advantages h3{
    font-size: 18px;
  }
  .information__link{
    border-width: 2px;
    padding: 10px 15px;

  }
  .auto-get-price__wrapper{
    position: relative;
    padding-top: 0;
    margin-top: 40px;
  }
  .auto-get-price__final-block__text .get-price__item__header{
    display: none;
  }
  .auto-get-price__final-block__text{
    position: absolute;
    top: -80px;
  }
  .mobile-autotype{
    display: block;
  }
  .auto-get-price__final-block{
    input{
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .footer__contacts{
    flex-basis: 45%;
  }
  .footer__wrapper{
    font-size: 17px;
  }
  .countries-list__country-text{
    font-size: 18px;
  }
  .footer__rest-info{
    flex-basis: 55%;
    align-items: flex-start;
  }
  .footer__menu{
    display: none;
  }
  .visa-m-left{
    margin: 0 10px;
  }
  .select-autotype__type{
    p{
      display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      margin: auto;
      display: block;
      height: 90%;
      width: 90%;
    }
  }
  .prices-ul-fix {
    display:flex;
    justify-content:center;
    align-items:center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .mobile-autotype{
    display: block;
    text-transform: uppercase;
    border-right: 0 !important;
    font-size: 21px;
    margin-bottom: 30px;
    padding: 0 30px;
  }
  .header__menu__menu-wrapper{
    flex-direction: column;
    text-align: center;
  }
  .header__menu-item{
    padding-right: 0;
  }
  .header{
    padding: 10px 0 30px 0;
  }
  #nav-icon1{
    display: inherit;
  }
  .header__submenu {
    opacity:1;
  }
  .header__menu__menu-wrapper{
    display: block;
    transition: 0.5s;
    z-index: 9997;
    position: absolute;
    opacity: 1;
    width: 80%;
    padding-top: 75px;
    top: 0;
    right:-200%;
    height: 100vh;
    background: #252a25;
  }
  .header__submenu{
    display: inherit;
    position: inherit;
    left: 0;
    top: 0;
    margin: auto;
    max-width: none;
  }
  .header__submenu{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
  }
  .header__menu-item{
    display: flex;
    background-color: rgba(33, 33, 33, 1);
    flex-direction: column;
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
    align-items: center;
  }
  .select-autotype-block{
    overflow-x: auto;
  }
  .current-page-menu{
    color: #5cb85c;
    opacity: 1;
  }
  .has-children{
    flex-direction: row;
    & > *{
      flex-basis: 50%;
    }
  }
  .header__promo{
    flex-direction: column;
    flex-basis: 100%;
  }
  .header__menu__info__header{
    text-align:center;
  }
  .header__menu__info{
    justify-content: center;
  }
  .header__social{
    margin-top: 15px;
  }
  .header__menu__info__subheader{
    flex-basis: 100%;
    text-align: center;
  }
  .main-promo__text{
    font-size: 18px;
  }
  .text-header-padding-top{
    padding-left: 0;
  }

}

@media(max-width: 520px) {
  .auto-get-price__wrapper {
    font-size:18px;
  }
  .notfound-img-wrapper {
    font-size:120px;
  }
  .notfound-subheader {
    font-size:42px;
    margin:10px 0;
  }
  .has-children:hover .header__submenu {
    display:none;
  }
  .has-children > * {
    flex-basis:100%;


  }
  .header__menu-item {
    display:block !important;
  }
  .has-children {
    &>ul {
      display:none;
    }
    position:relative;
    &::before {
      content:'\f107';
      font-family:FontAwesome;
      position:absolute;
      right:30px;
      top:0;
    }
    //&>a {
    //  position:relative;
    //  &::after {
    //    position:absolute;
    //    left:-40px;
    //    top:-7px;
    //    content:"\f107";
    //    font-family: FontAwesome;
    //
    //  }
    //}
  }
  .header__submenu {
    background-color: #666666;
  }
  .price__button-links {
    display:block;
    margin-top:30px;
    a {
      display:block;
      margin-bottom:10px;
    }
  }
  .about-header {
    margin-bottom:10px;
  }
  .table__header, .table__inner {
    font-size:16px;
    width:1064px;
  }
  .table__inner > * > * {
    padding:5px 10px;
  }
  .table__header {
    padding:10px;
  }

  .order-info__item__header {
    margin:10px 0;
  }
  .order-info__text-block > *:first-child {
    margin-top:20px;
  }
  .order-info__item {
    flex-basis:100%;
    p:last-of-type {
      text-align:center;
    }
  }
  .order-info__item img {
    width:80px;
    height:80px;
  }
  .fs24-125 {
    font-size:18px;
  }
  .order-info__text p {
    text-indent:15px;
  }
  .get-consult__form input, .get-consult__form textarea{
    font-size: 18px;
  }
  .about-header{
    font-size: 24px;
    line-height: 1.25em;
  }
  .notfoundreturn{
    background: #ffffff;
    margin: 0 auto 20px auto !important;
  }
  .scrollup{
    width: 25px;
    border-radius: 2px;
    font-size: 18px
  }
  .loadmore .information__link{
    padding: 10px 20px;
    font-size: 18px;
  }
  .company-blog__block{
    margin-bottom: 15px;
  }
  .company-about .page-wrapper{
    padding-bottom: 20px;
  }
  .company-about__inner, .company-information__inner, .company-blog__inner{
    padding: 10px;
  }
  .blog__date, .blog__header, .blog__link{
    font-size: 18px;
  }
  .blog__text{
    font-size: 16px;
  }
  .company-about__advantage{
    flex-basis: 100%;
  }
  .information__link{
    margin-right: 10px;
  }
  .footer__contacts{
    display: block;
    text-align: center;
  }
  .footer__contacts__inn{
    display: block;
    p{
      display: flex;
      justify-content: center;
    }
  }
  .auto-get-price__delivery-address{
    width: 100%;
  }
  .auto-get-price__final-block input{
    margin: 20px auto 0;
  }
  .auto-get-price__final-block{
    text-align: center;
  }
  .no-arrow-block, .top-arrow-box, .left-arrow-box{
    border-width: 2px;
  }
  .top-arrow-box::before, .left-arrow-box::before{
    border-width: 19px;
    margin-left: -19px;
  }
  .left-arrow-box::before{
    margin-top: -38px;
  }
  .countries-list__country{
    flex-basis: 25%;
  }
  .footer__contacts, .footer__rest-info{
    flex-basis: 100%;
  }
  .footer__rest-info{
    margin-top: 30px;
    align-items: center;
  }
  .select-autotype__type{
    padding: 15px 10px
  }
  .prices-ul-fix {
    .select-autotype__type {
      padding:0;
      a {
        padding:15px 10px;
      }
    }
  }
  #nav-icon1 span:nth-child(3){
    top: 24px;
  }
  #nav-icon1 span:nth-child(2){
    top: 12px;
  }
  #nav-icon1{
    width: 45px;
    height: 45px;
  }
  .header__menu__menu-wrapper{
    font-size: 17px;
  }
  .header__submenu{
    padding: 0 5px;
  }
  .get-price__item__header{
    font-size: 18px;
  }
  .auto-get-price__wrapper input, .auto-get-price__wrapper select{
    font-size: 16px;
    padding: 10px 20px;
  }
  .auto-get-price__delivery-time, .auto-get-price__delivery-time__checkbox-wrapper{
    font-size: 17px;
  }
  .auto-get-price__final-block__text{
    top: -50px;
  }
  .auto-get-price__final-block__price-header{
    font-size: 36px;
  }
  .auto-get-price__final-block__price-header{
    margin-top: 0
  }
  .auto-get-price__final-block__text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 60%;
  }
  .auto-get-price__final-block{
    flex-direction: row;
    margin-bottom: 0;
  }
  .auto-get-price__final-block input{
    margin: 0 auto;
  }
  .auto-get-price__wrapper{
    padding-bottom: 10px;
    margin-top: 20px;
  }
  .main-promo__text{
    padding-bottom: 20px;
  }
  .auto-get-price__delivery-time{
    width: auto;
  }
  .auto-get-price__delivery-time__checkbox-wrapper{
    flex-basis: 50%;
  }
  .get-auto__input-text{
    padding-right: 10px;
  }
}

@media(max-width: 420px) {
  .fs24-125 {
    font-size:16px;
  }
  .faq__item__header {
    padding:10px;
  }
  .contacts-block__prev > *{
    flex-basis: 100%;
  }
  .auto-get-price__delivery-time__checkbox-wrapper{
    flex-basis: 100%;
  }
  .auto-get-price__final-block__text{
    flex-direction: column;
  }
  .delivery-method__radio:checked::after{
    top: 3px;
    left: 3px;
  }
  .delivery-method__radio:checked::after{
    width: 15px;
    height: 15px;
  }
}